body {
  font-family: Helvetica;
  margin: 0;
}

form {
  width: 85%;
  margin: 10px auto;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  cursor: pointer;
  border: 0;
  margin: 5px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #C44208;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C44208;
  background-image: -webkit-linear-gradient(top, #C44208, #d65720);
  background-image: -moz-linear-gradient(top, #C44208, #d65720);
  background-image: -ms-linear-gradient(top, #C44208, #d65720);
  background-image: -o-linear-gradient(top, #C44208, #d65720);
  background-image: linear-gradient(to bottom, #C44208, #d65720);
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.logo {
  font-size: 8em;
}

.chat-text {
  width: 95%;
  height: 50px;
  padding: 7px 25px 7px 7px;
  margin: 0;
  resize: none;
}

.splashpage {
  background-color: rgba(196,66,0,0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-background {
  background-color: rgba(196,66,0,0.8);
  display: flex;
  justify-content: center;
}

.chat-container {
  border-radius: 10px;
  background: white;
  width: 50%;
}

.name-entry {
  font-size: 5em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.username {
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: Helvetica;
  visibility: hidden;
  min-width: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.chat {
  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.splash-message {
  text-align: center;
}

.chat-input {
  width: 100%;
  height: 16vh;
}

i {
  position: absolute;
  top: 10px;
  right: 2%;
  color: rgba(0,0,0,0.3);
  cursor: pointer;
}

i:hover {
  color: rgba(0,0,0,0.9);
}

.hidden {
  display: none;
}

.textbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.emote-container {
  width: 200px;
  background: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: -43px;
  box-shadow: rgba(0,0,0,.2) 0 0 0 1px inset;
}

.emote {
  padding: 5px;
  cursor: pointer;
}

.emote:hover {
  background: rgba(0,0,0,.1);
}
