$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

body {
  font-family: Helvetica;
}

.username {
  // color: unquote("rgb(#{$red}, #{$green}, #{$blue})");
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 50%;
  height: 80vh;
  overflow-y: scroll;
}

.message {
  border-top: 1px solid black;
}

form {
  width: 50%;
}

.chat-input {
  width: 100%;
  height: 20vh;
}

.chat-text {
  width: 90%;
  height: 50px;
}

.emote-container {
  background: black;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 100px;
}
