<div class="splashpage">

    <div class="logo">
      LΛMBDΛ
    </div>

    {{input class='name-entry' placeholder="What should we call you?" value=name}}


  <div class="splash-message">
    {{#if name}}
      <h2>Welcome to the meme zone {{name}}!</h2>
      {{#link-to 'chat' name class="btn" }}Join{{/link-to}}
    {{else}}
      <p>Please enter your nickname and click the join button.</p>
    {{/if}}
  </div>
</div>
